PiBorg.txt
Tontec MZ61581 Touch Screen Instructions - 20150330.docx
UltraSonic.txt
Picon Zero Worksheets/WS08 - Driving WS2812B LEDs (aka NeoPixels) with Picon Zero.pdf
Picon Zero Worksheets/WS01 - Setting Up and Installing Picon Zero.pdf
Picon Zero Worksheets/WS02 - Running Motors with Picon Zero.pdf
Picon Zero Worksheets/WS03 - Getting Switch Button Input from Picon Zero.pdf
Picon Zero Worksheets/WS04 - First Steps with Analog Readings using Picon Zero.pdf
Picon Zero Worksheets/WS05 - Controlling Servos with Picon Zero.pdf
Picon Zero Worksheets/WS06 - Controlling Brightness of LEDs with Picon Zero.pdf
Picon Zero Worksheets/WS07 - Using DS18B20 Temperature Sensors with Picon Zero.pdf
.vscode/settings.json